
<p-chart width="720px" height="450px" type="bar"  [data]="data"  (onDataSelect)="selectData($event)" [options]="options"></p-chart>

<!-- <div id="myDIV" (window:scroll)="scrollEvnt($event)">
  <div class="ui-grid-row">
    <div class="ui-grid-col-4"></div>
    <div class="ui-grid-col-8">
      <p-galleria [images]="images" panelWidth="1200" panelHeight="420" [showCaption]="false"></p-galleria>
    </div>
  </div>

  <div class="ui-grid-row colorW" *ngIf="false">
    <div class="ui-grid-col-5 colorB">.</div>
    <div class="ui-grid-col-7">
      <b>Our Patners</b>
    </div>
  </div>
  <div class="ui-grid-row colorW" *ngIf="false" >
    <div class="ui-grid-col-3 colorB">.</div>
    <div class="ui-grid-col-2">
      <img src="assets/showcase/images/demo/foozilla/pepsi.png" />
    </div>
    <div class="ui-grid-col-2">
      <img src="assets/showcase/images/demo/foozilla/cola.png" />
    </div>
    <div class="ui-grid-col-2">
      <img src="assets/showcase/images/demo/foozilla/bud.png" />
    </div>
  </div>
  <div class="ui-grid-row colorW" *ngIf="false">
    <div class="ui-grid-col-3 colorW ">.</div>
    <div class="ui-grid-col-2">
      <img src="assets/showcase/images/demo/foozilla/pepsi.png" />
    </div>
    <div class="ui-grid-col-2">
      <img src="assets/showcase/images/demo/foozilla/cola.png" />
    </div>
    <div class="ui-grid-col-2">
      <img src="assets/showcase/images/demo/foozilla/bud.png" />
    </div>
  </div>
</div> -->
