body {margin:0;}

.square {
    height: 45px;
    width: 45px;
    align-self: baseline;
    align-content: inherit;
}

.separate{
  height:100px;
  border-left: 3px solid gray;
}

.topnav {
  overflow: hidden;
  background-color:black;
  position: relative;
}

.topnav a {
  float: left;
  display: block;
  color:  #f1f1f1;
  text-align: center;
  padding: 10px 26px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-top: 1px solid rgb(122, 146, 189);
}

.topnav a.active {
  border-bottom: 3px solid rgb(122, 146, 189);
  -webkit-text-fill-color: rgb(122, 146, 189);
  text-decoration-color: red;
}

input[type=text] {
  width: 100px;
  box-sizing:content-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  -webkit-text-fill-color: black;
  background-color: white;
  /* background:url(../img/foo.png)no-repeat scroll 7px 7px; */
  padding-left: 30px;
  background-position: 25px 25px; 
  background-repeat: no-repeat;
  padding: 12px 1px 10px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
