<!-- <app-car-service></app-car-service> -->

<div class="topnav">
  <!--   -->
  <a routerLink="/home" routerLinkActive="active"><img src="assets\showcase\images\demo\foozilla\jap.png"/></a>
  <a routerLink="/reg" routerLinkActive="active">REGISTER</a>
  <a routerLink="/req" routerLinkActive="active" *ngIf="message">REQUESTS</a>
  <a routerLink="/tickets/{{name}}" routerLinkActive="active">TICKETS</a>
  <a routerLink="/poll" routerLinkActive="active">POLLING</a>
  <a routerLink="/dashBoard" routerLinkActive="active" *ngIf="msg">DASH-BOARD</a>
  <a routerLink="/login" routerLinkActive="active" *ngIf="!message">LOGIN</a>
  <a routerLink="/game" routerLinkActive="active" *ngIf="false">Game</a>
  <!-- <a><input type="text" name="search" placeholder="Search.."></a> -->
  <a class="pull-right"><button pButton type="button" class="ui-button-danger" label="LogOut" *ngIf="message" (click)="logOut()"></button></a>
</div>

<!--   <div class="ui-grid-col-2">
      <nav>
        <a [ngStyle]="{'background-color': this.message ? '#4657f3' : '#f44336'}" routerLink="/reg" routerLinkActive="active">REGISTER</a>
      </nav>
    </div>
    <div class="ui-grid-col-2">
      <a [ngStyle]="{'background-color': this.message ? '#4657f3' : '#f44336' }" routerLink="/viewProd" routerLinkActive="active">ORDER</a>
    </div>
    <div class="ui-grid-col-3">
      <a [ngStyle]="{'background-color': this.message ? '#4657f3' : '#f44336' }" routerLink="/milestone" routerLinkActive="active">ORDER STATUS</a>
    </div>
    <div class="ui-grid-col-2">
      <a [ngStyle]="{'background-color': this.message ? '#4657f3' : '#f44336' }" routerLink="/chat" routerLinkActive="active">SUPPORT</a>
    </div>
    <div class="ui-grid-col-2" *ngIf="message">
      <a [ngStyle]="{'background-color': this.message ? '#4657f3' : '#f44336' }" routerLink="/uploadProd" routerLinkActive="active">ADMIN</a>
    </div>
    <div class="ui-grid-col-2" *ngIf="!message">
      <a [ngStyle]="{'background-color': this.message ? '#4657f3' : '#f44336' }" routerLink="/login" routerLinkActive="active">LOGIN</a>
    </div>
    <div class="ui-grid-col-2" *ngIf="message">
    <button pButton type="button" label="LogOut" (click)="login()"></button>
    </div>
  </div>
</div>
 -->

<router-outlet></router-outlet>
